*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: left 10%;
    padding: 0 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: rgba(0, 0, 0, 0.878) ;
    padding: 20px;
    border-radius: 10px;
    
}

.calculator form input{
    border: 0px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 15px rgba(113, 11, 11, 0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color:#ffffff;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    background: rgb(72, 70, 70);
    
}


form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
    background: orange;
    font-size: 30px;
    
}

.form input.text{
    color:#ffffff;
    font-size: 50px;
    text-align: center;
}

footer{ 
        font-size: 20px;
        bottom: 22px;
        color: rgb(55, 55, 62);
        text-align: center;
        position: fixed;
    
}

form input.operator{
    background: rgb(160, 161, 161);
    color:black;
}
 form input.aman{
    background: orange;
}
 form input.bhoomi{
     background: rgba(0, 0, 0, 0.878) ;
     background: transparent;
 }

